.sidebar {
    padding: 0;
    background-color: #f8f8f8;
    border-right: 1px solid #e7e7e7;
    width: 200px;
}

.navigation input[type=checkbox] {
    position: absolute;
    opacity: 0;
}

.navigation li a {
    color: #47525a !important;
}

.navigation label, .navigation a {
    position: relative;
    display: block;
    padding: 10px 18px 10px 18px;
    font-size: 1.4rem;
}

.navigation label::before {
    left: 18px;
    background-position: 0 0;
}

.navigation label {
    cursor: pointer;
    font-weight: normal;
}

.navigation ul {
    display: none;
}

.navigation input[type=checkbox]:checked + label + ul,
.navigation input[type=checkbox]:checked + label:nth-of-type(n) + ul {
    display: block;
}

.navigation input[type=checkbox] {
    position: absolute;
    opacity: 0;
}

.navigation, ul.navigation ul {
    list-style-type: none;
}

.navigation, ul.navigation li ul {
    padding: 0;
}

.navigation ul li a {
    padding-left: 30px;
}

.navigation li:not(:last-child), ul.navigation label {
    border-bottom: 1px solid #e7e7e7;
}

.navigation label {
    margin-bottom: 0;
}

.navigation label:hover, .navigation a:hover {
    text-decoration: none;
    background-color: #eee;
}

.navigation label:after {
    content: "\f053";
    font-family: FontAwesome;
    float: right;
}

.navigation input[type=checkbox]:checked + label:after {
    content: "\f078";
    font-family: FontAwesome;
    float: right;
    position: relative;
    left: 5px;
}
