* {
    outline: none;
}

body {
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    overflow-x: hidden;
    color: #67757c;
    height: 100vh;
}

html {
    position: relative;
    min-height: 100%;
    background: #ffffff;
}

a:focus,
a:hover {
    text-decoration: none;
}

a.link {
    color: #455a64;
}

a.link:focus,
a.link:hover {
    color: #1976d2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #455a64;
    font-weight: 400;
}

h1 {
    line-height: 40px;
    font-size: 36px;
}

h2 {
    line-height: 36px;
    font-size: 24px;
}

h3 {
    line-height: 30px;
    font-size: 21px;
}

h4 {
    line-height: 22px;
    font-size: 18px;
}

h5 {
    line-height: 18px;
    font-size: 16px;
    font-weight: 400;
}

h6 {
    line-height: 16px;
    font-size: 14px;
    font-weight: 400;
}

#main-wrapper {
    width: 100%;
}

.page-wrapper {
    background: #fafafa;
    padding-bottom: 60px;
}

.container-fluid {
    width: 100%;
}

.main-padding {
    padding: 0 30px;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

@media (min-width: 1024px) {
    .page-wrapper {
        margin-left: 240px;
    }
}

@media (max-width: 1023px) {
    .page-wrapper {
        margin-left: 60px;
        -webkit-transition: 0.2s ease-in;
        -o-transition: 0.2s ease-in;
        transition: 0.2s ease-in;
    }
}

.navbar {
    margin-bottom: 0;
}

@media all and (max-width: 700px) {
    .navbar-form {
        padding: 5px 10px 5px 15px;
        margin-bottom: 0;
    }
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
    color: #333;
    background-color: transparent;
}

.table-button-toolbar {
    display: inline-block;
    float: right;
}

.loading {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    text-align: center;
    z-index: 10000000;
}

.loading .fa-spinner {
    margin-top: 20%;
}

.react-bootstrap-table-page-btns-ul {
    float: right;
    margin-top: 0px;
}